<p-toast></p-toast>

<div class="card">
  <p-toolbar styleClass="p-mb-4">
    <ng-template pTemplate="left">
      <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2" (click)="openNew()"></button>
      <button pButton pRipple [label]="Delete" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedTD()" [disabled]="!selectedTask || !selectedTask"></button>
    </ng-template>

  </p-toolbar>

  <p-table #dt [value]="todolists" [rows]="10" [paginator]="true" [globalFilterFields]="['name','id','status']"
           [(selection)]="selectedTask" [rowHover]="true" dataKey="id"
           currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
    <ng-template pTemplate="caption">
      <div class="p-d-flex p-ai-center p-jc-between">
        <h5 class="p-m-0">Quản Lý Công Việc</h5>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 3rem">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th pSortableColumn="name">Công Việc <p-sortIcon field="name"></p-sortIcon></th>
        <th pSortableColumn="price">Id <p-sortIcon field="price"></p-sortIcon></th>
        <th pSortableColumn="category">Mô Tả <p-sortIcon field="category"></p-sortIcon></th>
        <th pSortableColumn="inventoryStatus">Trạng Thái <p-sortIcon field="Status"></p-sortIcon></th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-todo>
      <tr>
        <td>
          <p-tableCheckbox [value]="todo"></p-tableCheckbox>
        </td>
        <td>{{todo.name}}</td>
        <td>{{todo.id}}</td>
        <td>{{todo.description}}</td>
        <td><span [class]="'product-badge status-' + (todo.inventoryStatus ? todo.inventoryStatus.toLowerCase() : '')">{{todo.status}}</span></td>
        <td>
          <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" (click)="editTD(todo)"></button>
          <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteToDo(todo)"></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="p-d-flex p-ai-center p-jc-between">
       Tổng : {{todolists ?todolists.length : 0 }} .
      </div>
    </ng-template>
  </p-table>
</div>

<p-dialog [(visible)]="todoListDialog" [style]="{width: '450px'}" header="Công Việc" [modal]="true" styleClass="p-fluid">
  <ng-template pTemplate="content">
    <div class="p-field">
      <label for="name">Tên</label>
      <input type="text" pInputText id="name" [(ngModel)]="todo.name" required autofocus />
      <small class="p-invalid" *ngIf="submitted && !todo.name">Name is required.</small>
    </div>
    <div class="p-field">
      <label for="description">Mô Tả</label>
      <textarea id="description" pInputTextarea [(ngModel)]="todo.description" required rows="3" cols="20"></textarea>
    </div>
    <div class="field">
      <label for="statuses">Trạng Thái</label>
      <p-dropdown [(ngModel)]="todo.status"  id="statuses" [options]="statuses" placeholder="Select">
        <ng-template let-option pTemplate="item">
          <span [class]="'product-badge status-' + option.value">{{option.label}}</span>
        </ng-template>
      </p-dropdown>
    </div>

    <div class="p-formgrid p-grid">
      <div class="p-field p-col">
        <label for="ID">ID</label>
<!--        <p-inputNumber id="ID" [(ngModel)]="todo.id"   ></p-inputNumber>-->
        <input type="text" pInputText id="ID" [(ngModel)]="todo.id" required  />
      </div>

    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
    <button  pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveTD()"></button>

  </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
